@import 'base';

.textButton {
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
}

.filled {
    color: $primary;
    background: $secondary;

    &:hover {
        background: $secondaryLight;
    }
}

.empty {
    color: $secondary;
    background: transparent;
    border: solid $secondary 5px;

    &:hover {
        color: $primary;
        background: $secondary;

        .loader {
            height: 80%;
            background-color: $primary !important;
        }
    }
}
