@import 'base';

#lobby {
    height: 100%;
    width: 100%;
    display: flex;
    background: $primary;
    padding: 32px;

    @media all and (min-width: 1025px) {
        padding-right: 400px;
    }

    @media all and (min-width: 1600px) {
        padding-right: 700px;
    }

    .body {
        display: flex;
        flex-flow: column;
        height: 100%;
        width: 100%;
        @media only screen and (min-width: 769px) {
            flex: 7;
        }

        .header {
            display: flex;
            flex: 0 1 auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @media only screen and (min-width: 769px) {
                margin: 0 0 129px 0;
            }

            h1 {
                font-size: 2em;
                padding: 0;

                @media only screen and (min-width: 769px) {
                    font-size: 4em;
                    color: $secondary;
                }
            }

            // button {
            //     border-style: none;
            //     height: 50px;
            //     width: 50px;
            //     border: solid 5px $secondary;
            //     background: transparent;
            //     font-size: 1.3em;
            //     cursor: pointer;

            //     @media only screen and (min-width: 769px) {
            //         color: $secondary;
            //         height: 70px;
            //         width: 70px;
            //     }
            // }
        }

        .roomSelection {
            display: flex;
            flex-flow: column;
            flex: 1 1 auto;
            overflow-y: auto;

            @media only screen and (min-width: 769px) {
                // flex: 1 1 auto;
                // overflow-y: auto;
                // max-height: 524px;
                // margin: 
            }

            .roomsList {
                display: flex;
                flex: 1;
                flex-direction: column;
                overflow-y: scroll;
                padding: 2px 22px 2px 2px;
                margin: 0 20px 0 0;
                @media only screen and (min-width: 769px) {
                    /* width: 100%; */
                    /* height: 100%; */
                    /* max-height: 100%; */
                }
            }
            .roomsList::-webkit-scrollbar {
                width: 5px;
            }
            .roomsList::-webkit-scrollbar-track {
                background: transparent;
            }
            .roomsList::-webkit-scrollbar-thumb {
                background: $secondary;
                width: 10px;
            }

            .noRoom {
                white-space: pre-line;
                text-align: center;
                font-size: 2em;
                color: $secondary;
                font-weight: medium;

                @media only screen and (min-width: 769px) {
                    font-size: 2.5em;
                }
            }
        }

        .footer {
            display: flex;
            flex: 0 1 auto;
            flex-direction: column;
            padding: 2px;

            .separator {
                margin: auto 0 26px 0;
                @media only screen and (min-width: 769px) {
                    margin: 20px 0 0 0;
                }
            }
            
            .playButton {
                width: 100%;
                margin: 0;
                
                @media only screen and (min-width: 769px) {
                    height: 125px;
                    font-size: 3em;
                    font-weight: 900;
                    margin: 20px 0 0 0;
                }
            }
        }
    }
}
