@import 'base';

.signIn {
    height: 100vh;
    width: 100%;
    background: $primary;

    .form {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 25vh;
        margin: auto;
        text-align: center;

        @media all and (max-width: 768px) {
            max-width: 80%;
        }

        @media all and (max-width: 425px) {
            padding-top: 15vh;
            h1 {
                font-size: 52px;
            }
        }

    }

    .separator {
        margin: 16px 0;
    }
}
