@import 'base';

.user {
    color: $secondary;
    width: 100%;
    text-align: center;

    .username {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .userIcon {
        width: 64px;
        height: 64px;
        margin: 10px 0;

        @media all and (min-width: 769px) {
            width: 96px;
            height: 96px;
            margin: 20px 0;
        }
    }

    .heart {
        margin: 0 5px;
        width: 24px;
        height: 24px;

        @media all and (min-width: 769px) {
            width: 32px;
            height: 32px;
        }
    }

}
