@import 'base';

.signUp {
    height: 100vh;
    width: 100%;
    background: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25vh;

    .separator {
        width: 500px;
        margin: 16px 0;
    }
}
